
<div class="d-flex justify-content-center">
  <h1>Generate Form</h1>
</div>

  <div class="row">
    
    <div class="col-md-4">
      <div class="d-flex justify-content-center">
        <input type="file" (change)="onFileChange($event)"  class="form-control">
      </div>
   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let row of jsonData; index as i">
        <div *ngIf="row.type === 'text'" class="form-group">
          <label class="form-label">{{i+1}}.{{ row.label }}</label>
          <input type="text" [formControlName]="row.label" class="form-control" />
        </div>
        <div *ngIf="row.type === 'radio'" class="form-group">
          <label class="form-label">{{i}}.{{ row.label }}</label>
          <div *ngFor="let option of row.options">
            <input type="radio" [value]="option" [formControlName]="row.label" class="form-check-input"> {{ option }}
          </div>
        </div>
      </div>
      <div *ngIf="flag">
        <button type="submit" class="btn btn-success" disabled>Submit</button>
          &nbsp;&nbsp;
          <button (click)="generateShareLink()" class="btn btn-primary">Generate Share Link</button>
        
        
        <div *ngIf="shareLink" class="share-link-container">
          <label>Shareable Link:</label>
          <input type="text" [value]="shareLink" readonly class="form-control">
          <button (click)="copyToClipboard(shareLink)" class="btn btn-warning">Copy Link</button>
        </div>
      </div>
    </form>
    
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h6>structure of the Excel sheet <a href="assets/sample.xlsx" download>Click here to download sample sheet</a> </h6>
    <table class="table table-bordered">
      <tr>
        <td>Type</td>
        <td>Question</td>
        <td>Option 1</td>
        <td>Option 2</td>
        <td>Option 3</td>
        <td>Option 4</td>
      </tr>
      <tr>
        <td>radio</td>
        <td>What is your stream</td>
        <td>CSE</td>
        <td>ECE</td>
        <td>Civil</td>
        <td>Mech</td>
      <tr>
        <td>text</td>
        <td>What is your name?</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </table>
    <p>Note:sheet headings are not mandatory</p>
  </div>

</div>