<div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div *ngFor="let row of formFields; index as i">
            
            <div *ngIf="row.type === 'text'" class="form-group">
                <label class="form-label">{{i}}.{{ row.label }}</label>
                <input type="text" [formControlName]="row.label" class="form-control" />
            </div>
            <div *ngIf="row.type === 'radio'" class="form-group">
                <label class="form-label">{{i}}.{{ row.label }}</label>
                <div *ngFor="let option of row.options">
                    <input type="radio" [value]="option" [formControlName]="row.label" class="form-check-input"> {{ option }}
                </div>
            </div>
        </div>
        <button type="submit">Submit</button> 
    </form>
</div>
