<div class="row d-flex justify-content-center align-items-center mt-5">
    <!-- <div class="col-md-4 col-12 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Amount</h6>
                <h2 class="text-right"><img src="/src/assets/images" class="f-left" height="30" width="30" alt=""> </h2>
                <p class="m-b-0" style="margin-left: 20px;">Total Spendings</p>
               
            </div>
        </div>
    </div> -->
    
    <div class="col-md-4 col-12 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6 class="m-b-20">Forms</h6>
                <h2 class="text-right"> <img src="assets/images/form.webp" class="f-left" height="50" width="50" alt=""><span>{{formLength}}</span> </h2>
                <p class="m-b-0">Total Forms</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-12 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Responses</h6>
                <h2 class="text-right"><img src="assets/images/res.png" class="f-left" height="50" width="50" alt=""><span>{{responseLength}}</span></h2>
                <p class="m-b-0">Total Responses</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h6 class="m-b-20">Users</h6>
                <h2 class="text-right"><img src="assets/images/user.png" class="f-left" height="50" width="50" alt=""><span>{{userlength}}</span></h2>
                <p class="m-b-0">Total Users</p>
            </div>
        </div>
    </div>
</div>